<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head_ml"}}
  <link rel="stylesheet" href="/css/about-us.css">
</head>

<body>
  {{template "navbar"}}
  <section class="page1">
    <div>
      <h1 class="fade-in" style="--delay: 0ms">About us</h1>
      <p class="separator fade-in" style="--delay: 100ms">.</p>
      <h3 class="fade-in" style="--delay: 200ms">Our aim</h3>
      <p class="fade-in" style="--delay: 300ms">To bring you the freshest ingredients and recipes allowing you to make
        your own amazing Middle Eastern based meals from the living recipes box.</p>
      <h3 class="fade-in" style="--delay: 400ms">The freshest food</h3>
      <div class="side-by-side">
        <div>
          <p class="fade-in" style="--delay: 500ms">We aim to make your meal as fresh as possible by providing you with
            living herbs within your ‘Living Recipes’ box. Herbs are a key ingredient within any great recipe, but these
            delicate plants show signs of wilting and dying as soon as they are picked, causing the flavours and
            aromours
            to begin to fade. All our herbs are grown in a hydroponic system allowing us to deliver to you living herbs
            so
            they will remain as fresh as possible until you are ready to pick them from your recipe.</p>
        </div>
        <img src="/img/living_recipe_meal.jpg" class="fade-in-right" style="--delay: 600ms">
      </div>
      <h3 class="fade-in" style="--delay: 700ms">The lowest impact on our planet</h3>
      <p class="fade-in" style="--delay: 800ms">Our packaging is 100% recycleable or compostable. We aim for your Living
        Recipe box to not only look amazing with the beautiful wooden veg box case and living herbs creating a visual
        work of art, but to be completely recycled by us when we bring your next order. We will take away ALL the
        packaging and recycle it or compost it causing as little damage to the environment as we can.</p>
      <h3 class="fade-in" style="--delay: 900ms">Who we are</h3>
      <p class="fade-in" style="--delay: 1000ms">Eran – our chef, creating the recipes that make your mouth water,
        bringing you the taste of the Mediterranean with all its freshness, rich flavours and exotic tastes. Eran has
        .....</p>
      <p class="fade-in" style="--delay: 1100ms">David – our Hydroponics guru. David has been experimenting with growing
        a range of herbs and vegetables using
        hydropnic systems to create healthy and nutricous plants. David refuses to use insecticides or other chemical
        products on his plants, instead favouring natural systems and a belief like people a healthy plant will have a
        healthy immune system and not be prone to diseases so often blighting mass produced food products.</p>
      <p class="fade-in" style="--delay: 1200ms">Chris – The glue that brings the Chef and the grower together. Chris
        has
        a love of the spicy, flavour packed Middle Eastern Salads, but is always disappointed with the way the herbs
        wilt and damage so easily before they
        are often used. Chris saw the opportunity to bring the ability to deliver herbs that are still living and
        growing to your door as part of a really tasty meal box and has worked with Ern and David to make it happen.</p>
      <img class="fade-in" style="--delay: 1300ms" src="/img/herbs_table.jpg">
    </div>
  </section>

  {{template "footer"}}
  <script src="/js/main.js"></script>
</body>

</html>