<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head_ml"}}
  <link rel="stylesheet" href="/css/contact-us.css">
</head>

<body>
  {{template "navbar"}}
  <section class="page1">
    <div>
      <h1 class="fade-in" style="--delay: 0ms">Contact us</h1>
      <p class="separator fade-in" style="--delay: 100ms">.</p>
      <a href="mailto:info@livingrecipes.co.uk" class="fade-in" style="--delay: 200ms">✉ info@livingrecipes.co.uk</a>
    </div>
  </section>

  {{template "footer"}}
  <script src="/js/main.js"></script>
</body>

</html>