<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head_ml"}}
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  {{template "navbar"}}
  <section class="page1">
    <img src="/img/living_meal.png" class="fade-in-left" style="--delay: 500ms">
    <div>
      <h1 class="fade-in" style="--delay: 0ms">Bringing the freshest, tastiest Middle Eastern recipes to your door</h1>
      <p class="separator fade-in" style="--delay: 100ms">.</p>
      <h3 class="fade-in" style="--delay: 200ms">Our Values: The freshest, healthiest food at the lowest impact on our
        planet.</h3>
      <p class="fade-in" style="--delay: 300ms">Living recipes has been created to give busy people , the freshest,
        healthiest and tastiest meal packed full of Middle Eastern flavours, in a box delivered to your door, and
        guaranteed to stay fresh until you are ready to make it.</p>
      <p class="fade-in" style="--delay: 400ms">All the ingredients are provided along with a recipe card to allow you
        to make a really health, tasty meal for 2 from the freshest ingredients, with all delicate herbs delivered still
        living to keep them as fresh as possible.</p>
    </div>
  </section>
  <section class="page2">
    <svg viewBox="0 0 677.333 52.099325">
      <path transform="matrix(1,0,0,0.68909049,0,-90.884249)"
        d="m 677.333,207.49607 -2e-5,-59.86838 C 394.97426,100.05029 304.94051,173.50263 177.51819,194.88419 50.095866,216.26575 0,172.57285 0,172.57285 v 34.92322 z" />
    </svg>
    <div>
      <div>
        <h1 class="fade-in" style="--delay: 500ms">How it works</h1>
        <p class="separator light fade-in" style="--delay: 600ms">.</p>
        <ol>
          <li class="fade-in" style="--delay: 700ms">You select a recipe from the Living Recipe page</li>
          <li class="fade-in" style="--delay: 800ms">You order (a small deposit is payable on the first order to ‘buy’
            your packaging. Packaging will then be
            recycled or re used for subsequent orders)</li>
          <li class="fade-in" style="--delay: 900ms">We deliver all the ingredients to your door in our 100% recycled
            packaging, together with the recipe
            card</li>
          <li class="fade-in" style="--delay: 1000ms">You make your Middle Eastern meal on the day of your choice
            knowing the living herbs will be as fresh as
            the day they were delivered.</li>
          <li class="fade-in" style="--delay: 1100ms">You put out ALL the packaging from the Living Recipes box for us
            to collect and recycle when we deliver
            your next box.</li>
        </ol>
      </div>
      <a href="https://www.threetreasuresliving.com/shop" target="_" class="style1 fade-in-right"
        style="--delay: 1200ms">Order
        here</a>
    </div>
  </section>

  {{template "footer"}}
  <script src="/js/main.js"></script>
</body>

</html>