<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head_ml"}}
  <link rel="stylesheet" href="/css/our-recipes.css">
</head>

<body>
  {{template "navbar"}}
  <section class="page1">
    <div>
      <h1 class="fade-in" style="--delay: 0ms">Our recipes</h1>
      <p class="separator fade-in" style="--delay: 100ms">.</p>

      <div class="recipes fade-in" style="--delay: 200ms">
        <div class="controls">
          <button class="previous-recipe" id="prev">Previous</button>
          <button class="next-recipe" id="next">Next</button>
        </div>
        <div class="recipe show">
          <h1>Egyptian Beetroot Salad & Machshi Stuffed Vegetable and Rice</h1>
          <h3>Vegitarien dish for 2 people or accompanying salad for 4 people.</h3>
          <p>(As an accompanying salad excellent with grilled chicken or fish)</p>
          <p><b>Ingredients</b></p>
          <ul>
            <li>2 Medium Beetroots Cooked without Vinegar or Raw. If cooking, boil for an hour in water.</li>
            <li>1 Large Garlic Clove</li>
            <li>Chopped Coriander</li>
            <li>Lemon Juice</li>
            <li>Olive Oil</li>
            <li>Cumin</li>
            <li>Salt and Pepper</li>
          </ul>
          <p><b>Method</b></p>
          <p>Slice/Cube the Beetroot and Mix all the Rest of the Ingredients Together</p>
          <br>
          <h3>Machshi Stuffed Vegetable and Rice Served 2</h3>
          <p><b>Ingredients</b></p>
          <p>Rice</p>
          <ul>
            <li>1 Onion Finley Chopped and Caramelised</li>
            <li>3 Cloves of Garlic Finely Chopped</li>
            <li>2 Peppers or 2 Pale Courgette</li>
            <li>1 cup Chopped Dill, Parsley, Coriander</li>
            <li>1⁄2 Tsp Turmeric, Cumin, Ground Coriander</li>
            <li>Sea Salt, Coarse Black Pepper</li>
          </ul>
          <p>Sauce</p>
          <ul>
            <li>120g Tomato Paste</li>
            <li>Water</li>
            <li>Turmeric, Cumin, Ground Coriander</li>
            <li>Sea Salt, Coarse Black Pepper</li>
          </ul>
          <p><b>Method</b></p>
          <ol>
            <li>Core the Peppers/ Courgette</li>
            <li>Mix all the Rice Ingredients together and stuff the vegetables until you reach half full</li>
            <li>Place all the ingredients in bowl and whisk until Mixed</li>
            <li>Fit all the vegetables in a pan and pour the sauce in to the pan (Do not pour on vegetables directly)
            </li>
            <li>Bring to a gentle simmer and cook for 40 minutes on a low heat</li>
          </ol>
        </div>
        <div class="recipe">
          <h1>Seared Yemeni Chickpeas & Fresh Crispy Vegetables</h1>
          <h3>(Serves 1 to 2 as a full meal or a family as an accompaniment)</h3>
          <p><b>Ingredients</b></p>
          <p>Dry</p>
          <ul>
            <li>1 tin of chickpeas – drained, washed and dried</li>
            <li>Yemeni spice mix jar 1 & 2</li>
          </ul>
          <p>Fresh</p>
          <ul>
            <li>1 Garlic clove – peeled and finely diced</li>
            <li>1 Baby cucumber – washed and diced</li>
            <li>2 Tomatoes – washed and diced</li>
            <li>1 Pepper – washed and diced</li>
            <li>1 Shallot – peeled and finely diced</li>
            <li>1 Lemon – Zested and juiced</li>
          </ul>
          <p>Living Herbs</p>
          <ul>
            <li>Flat leaf Parsley – finely chopped including stalks</li>
            <li>Coriander – finely chopped including stalks</li>
            <li>Mint – leaves picked and finely chopped</li>
            <li>Dill – finely chopped including stalks</li>
            <li>Watercress – serve as a side salad</li>
          </ul>
          <p>From your pantry</p>
          <ul>
            <li>6 tbsp olive oil – for frying and dressing</li>
            <li>1⁄4 tsp salt</li>
            <li>1⁄4 tesp coarse black pepper</li>
          </ul>
          <p><b>Method</b></p>
          <ol>
            <li>Heat a large pan with 3 tbsp of olive oil. While the pan is heating up mix the chickpeas with the
              Yemeni spice mix 1 and 2, and half the salt and pepper</li>
            <li>Fry the chickpeas until golden brown, then set aside to cool</li>
            <li>Once cooled, add the diced fresh vegetables and leave to cool to room temperature</li>
            <li>Add the remaining 2 tbsp of olive oil, lemon juice and zest, remaining salt and pepper and mix well
            </li>
            <li>Add the freshly chopped herbs and mix</li>
            <li>Serve in a nice deep bowl</li>
            <li>Garnish with watercress</li>
          </ol>
        </div>
      </div>

    </div>
  </section>

  {{template "footer"}}
  <script src="/js/main.js"></script>
  <script src="/js/our-recipes.js"></script>
</body>

</html>